body {
  background-color: #B1B4B8;
}

div.container {
  background-color: #B1B4B8;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  max-width: 100%;
  color: #FEF8BA;
  text-align: left;
  font-size: 26px;
  font-family: 'Timmana', sans-serif;
  padding: 5px;
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

h3 {
  font-family: 'Anton', sans-serif;
  text-align: justify;
  word-wrap: normal;
  font-size: 42px;
  padding: 10px;
}

h4 {
  font-family: 'Anton', sans-serif;
  font-size: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #6CB557;
}

a:hover {
  color: #000000;
}

a:visited {
  color: #FF0000;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-indent: 50px;
  padding: 10px;
  line-height: 1.45;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

img.mtlogo {
  padding: 10px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 5px;
}

aside {
  max-width: 100%;
  grid-area: aside;
  padding: 8px;
}

footer {
  grid-area: footer;
}

table, th, td {
  max-width: 100%;
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

th {
  background-color: #8F0000;
  color: white;
}

@media (min-width: 320px) {
  body {
    background-color: ##B1B4B8;
  }
}
