body {
  background-color: #D73539;
}

div.container {
  background-color: #6a6b6d;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  max-width: 100%;
  color: #FEF8BA;
  text-align: left;
  font-size: 26px;
  font-family: 'Timmana', sans-serif;
}

h2 {
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
}

h3 {
  text-align: center;
}

a {
  color: red;
}

a:hover {
  color: #000000;
}

a:visited {
  color: #FF0000;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-indent: 50px;
  padding: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

header {
  grid-area: header;
  text-align: center;
  margin: auto;
}

main {
  grid-area: main;
  padding: 10px;
}

aside {
  grid-area: aside;
  padding: 8px;
}

footer {
  grid-area: footer;
}

table, th, td {
  font-size: 17px;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

@media (min-width: 320px) {
  body {
    background-color: #D73539;
  }
}
